HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

/api-service/target/
/api-service/.classpath
/api-service/.project
/api-service/.settings/
/aws-service/target/
/aws-service/.classpath
/api-boleto-service/target/
/aws-service/.project
/config-server/target/
/config-server/.classpath
/database-mysql-service/target/
/database-mysql-service/.classpath
/protocolo-service/target/
/protocolo-service/.classpath
/protocolo-service-util/target/
/protocolo-service-util/.classpath
/frontend-de-testes-boletos/dist/
/frontend-de-testes-boletos/node_modules/
