HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

/api-service/target/
/api-service/.mvn/
/api-service/.classpath
/api-service/.project
/api-service/.settings/
/aws-service/target/
/aws-service/.classpath
/api-boleto-service/target/
/aws-service/.project
/config-server/target/
/config-server/.classpath
/database-mysql-service/target/
/database-mysql-service/.classpath
/protocolo-service/target/
/protocolo-service/.classpath
/protocolo-service-util/target/
/protocolo-service-util/.classpath
/frontend-de-testes-boletos/dist/
/frontend-de-testes-boletos/node_modules/
/eureka-naming-server/target/
/eureka-naming-server/.classpath
/chatgpt-service/target/
/chatgpt-service/.classpath
/chatgpt-service-util/.mvn/
/chatgpt-service-util/.settings/
/chatgpt-service-util/.classpath
/chatgpt-service-util/.project 
/chatgpt-service-util/factorypath
/processa-boleto-service/target/
/processa-boleto-service/.classpath
/processa-boleto-service/.project
/processa-boleto-service/.mvn/
/tesseract-service/target/
/tesseract-service/.classpath
/tesseract-service/.project
/tesseract-service/.mvn/

/email-to-ftp/target/
/email-to-ftp/.classpath
/email-to-ftp/.project
/email-to-ftp/.mvn/

/poc-front-boletos/node_modules/
/poc-front-boletos/dist/
